

<section id="SetDessert">
    <h2>SetDessert</h2>
    <ul>
      <li>Awesome Beginnings 
        <br> <input type="checkbox">
        <span class="required">Required</span>
    </li>
      <li>Cold Brew Gryphon Earl Grey Lavender Strawberry 
        <br> <input type="checkbox">
        <span class="required">Required</span>
    </li>
      <li>Steamed Boston Lobster with Minced Garlic 
        <br> <input type="checkbox">
        <span class="required">Required</span>
    </li>
    </ul>
  </section>
  <section id="SetDrinks">
    <h2>Set Drinks</h2>
    <ul>
      <li>LESS ICE 
       <br> <input type="checkbox">
        <span class="required">Required</span>
    </li>
      <li>LESS OIL 
        <br> <input type="checkbox">
        <span class="required">Required</span>
    </li>
      <li>LESS SPICY 
        <br> <input type="checkbox">
        <span class="required">Required</span>
    </li>
    </ul>
  </section>
  <section id="MexianSet">
    <h2>Mexian Set</h2>
    <ul>
      <li>MexianSet 
        <br> <input type="checkbox">
        <span class="required">Required</span></li>
    </ul>
  </section>
  <button (click)="showProducts()">Show Selected Products</button>
  
