<!-- <div>
<div>
    <h1>Mixian Set Pax 1</h1>
    <input type="checkbox"><br>
    <label for="">Required</label>
    <br>
    <h1>Mixian Set pax 2</h1>
    <input type="checkbox"><br>
    <label for="">Required</label>
    <br>
    <button >Add selected item</button>
    <br>
    <app-set-food></app-set-food>
    
</div>
</div>
 -->
<!-- <div> -->
 <h2>Selected Data</h2>
<!-- 
<ul *ngIf="selectedItems.length > 0">
  <li *ngFor="let item of selectedItems">{{ item.name }}</li>
</ul>

<p *ngIf="selectedItems.length === 0">No items selected.</p>
</div> -->
<div>
    <ul>
        <li *ngFor="let item of selectedItems">
          {{ item.name }}
        </li>
      </ul>
</div>